.app-contain {
  width: 100vw;
  height: 100vh;
}
.app-sider-box {
  background-color: #fff;
  border: thin solid red;
}

.app-content {
  padding: 10px;
  box-sizing: border-box;
}
.content-area {
  width: 100%;
  height: 100%;
  background-color: #fff;
}